body {
  background-color: #14253c;
}

ul {
  list-style-type: none;
}

li {
  display: flex;
}

li img, p {
  margin: 1rem;
}

li img {
  max-width: 50px;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: not-allowed;
}
